@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
}

body #root {
  font-family: var(--font-poppins);
  font-weight: 200; /* very light */
  height: 100%;
  overflow: hidden;
}


@layer utilities {
    .animate-in {
        animation-fill-mode: both;
    }

    .slide-in-from-top {
        animation-name: slideInFromTop;
    }
    .slide-in-from-bottom{
        animation-name: slideInFromBottom;
    }

    .anim-duration-300 {
        animation-duration: 300ms; /* renamed to avoid conflict with Tailwind's duration-300 */
    }

    .anim-duration-200 {
        animation-duration: 200ms; /* renamed to avoid conflict with Tailwind's duration-300 */
    }

    .anim-duration-700 {
        animation-duration: 700ms; /* renamed to avoid conflict with Tailwind's duration-300 */
    }

    .delay-100 {
        animation-delay: 100ms;
    }

    .delay-200 {
        animation-delay: 200ms;
    }

    .delay-300 {
        animation-delay: 300ms;
    }
}

@keyframes slideInFromBottom {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInFromTop {
    from {
        opacity: 0;
        transform: translateY(-1rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


